@import "null";

// .header{
//     margin: 0 auto;
//     width: 100%;
//     height: 100vh;
//     background-image: url(https://wallpapers.com/images/hd/classic-matte-black-office-desk-rt7er18c7pjhwx6s.jpg);
//     background-size: cover;
// }
body {
  background: url(https://wallpapers.com/images/hd/classic-matte-black-office-desk-rt7er18c7pjhwx6s.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-label,
.no-cards {
  color: #ffffff;
  font-size: larger;
  text-align: center;
}

.header-container {
  min-height: 130px;
  background: rgba(107, 104, 104, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 100px;
}

.btn-success {
  margin-right: 130px;
}

.hidden {
  display: none;
}

.no-authorization {
  color: white;
  text-align: center;
  font-size: large;
}

.header-card {
  margin-bottom: 10px;
}

.card {
  background-color: inherit;
  display: grid;
  // gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.visit-cardiologist-card {
  background-color: rgb(252, 248, 242);
}

.visit-therapist-card {
  background-color: rgb(239, 252, 239);
}

.visit-dentist-card {
  background-color: #ffffff;
}
.filter__status {
  color: #ffffff;
}
